:root {
    --neon-blue: rgb(0, 34, 77);
    --neon-dark-magenta-purple: rgb(93, 14, 65);
    --neon-magenta-purple: rgb(160, 21, 62);
    --neon-red: rgb(255, 32, 78);
    --menu-item-bg-color: rgba(93, 14, 65, .7)
}