.contact {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.contact .container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 2rem;
    font-size: 1.5rem;
}

address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

address span {
    font-weight: bold;
}

.contact .container a {
    text-decoration: underline;
}