.menu {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.menu .container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
    margin: 2rem 0;
}

.menu .container .menu-item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: 10px solid var(--neon-red);
    box-shadow: inset 2px 2px 20px 5px var(--neon-red),
                2px 2px 20px 5px var(--neon-red);
    padding: 2.5rem;
    border-radius: 80px;
    background-color: var(--menu-item-bg-color);
    color: var(--neon-red);
}

.menu-item .item-name {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px var(--neon-red);
}

.menu-item .image { 
    border: 3px solid var(--neon-red);
    background-color: var(--neon-dark-magenta-purple);
    box-shadow: inset 2px 2px 20px 5px var(--neon-red),
                2px 2px 20px 5px var(--neon-red);
    border-radius: 10px;
    transition: transform .3s ease-in-out;
}

.menu-item:hover .image {
    transform: scale(120%);
    transition: transform .3s ease-in-out;
}

.menu-item .image img {
    object-fit: fill;
    border-radius: 10px;
}

.menu-item .description {
    font-size: 1.5rem;
    text-align: center;
}