@import url("styles/reset.css");
@import url("styles/colors.css");
@import url("styles/fonts.css");
@import url("styles/home.css");
@import url("styles/menu.css");
@import url("styles/contact.css");

/* Navigation */

:root {
    background-color: var(--neon-blue);
    color: var(--neon-red);
}

header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

header nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

nav ul button {
    border: none;
    padding: .5rem 1.3rem;
    transform: skewX(-10deg);
    font-weight: bold;
    letter-spacing: .5ch;
    font-size: 1.5rem;
    color: inherit;
    background-color: transparent;
    box-shadow: 2px 2px 20px 5px var(--neon-red);
    border: 4px solid var(--neon-red);
    border-radius: 5px;
    transition: background-color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

nav ul button span {
    display: inline-block;
    transform: skewX(10deg);
}

header nav button:hover {
    cursor: pointer;
    background-color: var(--neon-magenta-purple);
    color: var(--neon-blue);
    transition: background-color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

header nav button.active {
    box-shadow: inset 2px 2px 20px 2px var(--neon-red),
                2px 2px 20px 7px var(--neon-red);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

footer .container {
    font-size: 1.5rem;
    border: 1px solid var(--neon-red);
    padding: .25rem .5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 20px 5px var(--neon-red);
}